

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.plot.ly/plotly-2.27.0.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="styles.css">
    <title>Blomsterpinne</title>
</head>
<body>

</body>
</html>

<script type="text/javascript">
    const apiUrl = '<%= apiUrl %>';
    const pollingInterval = parseInt('<%= pollingInterval %>', 10);
    import tippy from 'tippy.js';
    import 'tippy.js/dist/tippy.css';
</script>
<script src="script.js"></script>

